.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  font-family: $principal-font;
  background-color: $color-terciary;

  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
}

  &__img {
    height: 80px;

    @media (min-width: $breakpoint-tablet) {
      height: 100px;
    }
  }

  &__rrss-title {
    font-size: 13px;
    color: $color-secondary;
  }

  &__rrss {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__rrss-web {
    padding-left: 15px;
    color: $color-secondary;
  }
}
