.landing {
  background-color:$color-terciary;
  padding-top: 150px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;


  &__img {
   max-width: 900px;
   min-width: 200px;
   width: 90%;

  }
}
