.landing {
  background-color:$color-terciary;
  padding-top: 50px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;


  &__img {
   max-width: 900px;
   min-width: 200px;
   width: 90%;
   margin-bottom: 30px;
  }

  &__text {
    color: $color-principal;
    max-width: 300px;

 
   }
}
