.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-secondary;
  min-width: 100px;

  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
    justify-content: space-around;
  }

  &__item {
    cursor: pointer;
    background-color: $color-terciary;
    color: $color-principal;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 5px;

    &:hover {
      background-color: $color-principal;
      color: $color-terciary;
    }

    & a {
      text-decoration: none;
      color: inherit;
    }
  }
}
