.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-secondary;
    min-width: 100px;
    

    @media (min-width: $breakpoint-tablet) {
        flex-direction: row;
        justify-content: space-around;
    }

    &__item {
        cursor: pointer;
        padding-top: 6px;

        @media (min-width: $breakpoint-tablet) {
            padding-top: 0px;
        }

      

        & a {
            text-decoration: none;
            color: $color-terciary;
            font-size: 18px;
            
            &:hover {
                border-bottom: 2px solid $color-terciary;
            }
        }
    }
}