.menu {
    display: flex;
    justify-content:space-around;
    background-color:$color-terciary;
    padding-top: 20px;
    min-width: 100px;


  
    &__battle{
        text-decoration: none;
        color: $color-secondary;
        cursor: pointer;
        


    }

    &__super-heroes{
        text-decoration: none;
        color: $color-secondary;
        cursor: pointer;

    }

}