/* @font-face {
  font-family: "font-hp-comun";
  src: url("../../fonts/harry-potter.comun.ttf") format("truetype");
}

@font-face {
  font-family: "font-hp-titulos";
  src: url("../../fonts/harry-potter.titulos.ttf") format("truetype");
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  list-style: none;
}
