$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$principal-font: "Roboto";
$color-principal: #ffffff;
$color-secondary: #d3a625;
$color-secondary-dark: #856819;
$color-terciary: #231F20;
