$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$principal-font: 'font-hp-comun';
$title-font: 'font-hp-titulos';
$color-gryffinfor-1: #740001;
$color-gryffinfor-2: #d3a625;
$color-gryffinfor-3: #eeba30;




