.landing {
  padding-top: 50px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__img {
    max-width: 900px;
    min-width: 200px;
    width: 90%;
    margin-bottom: 40px;
    box-shadow: 0 10px 10px 0 $color-secondary;
    border-radius: 10px;
  }

  &__text {
    color: $color-principal;
    max-width: 300px;
    line-height: 25px;
    font-size: 18px;
  }
}
