.filter-gender-superHero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
  }

  &__search-gender {
    color: $color-principal;
    padding: 15px;

    @media (min-width: $breakpoint-tablet) {
      padding-left: 15px;
    }
  }

  &__select-search-gender {
    color: $color-terciary;
    padding: 6px;
    cursor: pointer;

    @media (min-width: $breakpoint-tablet) {
      padding-left: 15px;
    }
  }
}
