.list-super-hero {
  border-radius: 10px;
  padding: 3px;
  margin: 5px;
  text-align: center;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
  }

  &__list-item {
    margin: 10px;
    cursor: pointer;
    &:hover {
      border: 2px solid $color-secondary;
    }
  }

  &__image {
    height: 190px;
    border-radius: 10px;
    margin: 10px;

    @media (min-width: $breakpoint-tablet) {
      height: 290px;
    }
  }

  &__name {
    font-size: 16px;
    font-weight: bold;
    color: $color-secondary;

    @media (min-width: $breakpoint-tablet) {
      font-size: 16px;
    }
  }
}
